<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/app/css/sticky-footer-navbar.css') }}"/>
        {% block custom_styles %}{% endblock %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body cz-shortcut-listen="true">
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img height="20" alt="eKreative"
                     src="https://www.ekreative.com/wp-content/uploads/2017/08/04-eK_left_side.svg">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ app.request.get('_route') == 'homepage' ? 'active' }}">
                    <a class="nav-link" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'projects' ? 'active' }}">
                    <a class="nav-link" href="{{ path('projects') }}">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'all-issues' ? 'active' }}"
                       href="{{ path('all-issues') }}">Issues</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'new-activity' ? 'active' }}"
                       href="{{ path('new-activity') }}">Log time</a>
                </li>
            </ul>
            {#
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            #}
        </div>
    </nav>
</header>

{% block container %}{% endblock %}

<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2018, Vadym Panchenko</span>
    </div>
</footer>

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/jquery-3.2.1.slim.min.js') }}"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    </script>
    <script src="{{ asset('bundles/app/js/popper.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    {% block script %}{% endblock %}
{% endblock %}
</body>
</html>