{% extends 'base.html.twig' %}

{% block title %}Comments list{% endblock %}

{% block container %}
    <h1>Comments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Projectid</th>
                <th>Isverified</th>
                <th>Publishedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path('user_comment_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.text }}</td>
                <td>{{ comment.projectId }}</td>
                <td>{% if comment.isVerified %}Yes{% else %}No{% endif %}</td>
                <td>{% if comment.publishedAt %}{{ comment.publishedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_comment_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_comment_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_comment_new') }}">Create a new comment</a>
        </li>
    </ul>
{% endblock %}
