{% extends 'base.html.twig' %}

{% block title %}Comments{% endblock %}

{% block container %}
    <main role="main" class="container">
        <div class="album py-5 bg-light">
            <div class="container">
                <h3>Comments</h3>
                <hr>
                {{ form_start(form) }}
                <div class="form-group row">
                    <div class="col-sm-12">
                        {{ form_widget(form.text, { 'attr': { 'class': 'form-control', 'rows': '5' } }) }}
                    </div>
                    {{ form_widget(form.publishedAt, { 'attr': { 'hidden': 'hidden' } }) }}
                    {{ form_widget(form.projectId, { 'attr': { 'hidden': 'hidden' } }) }}
                    {{ form_widget(form.isVerified, { 'attr': { 'hidden': 'hidden' } }) }}
                </div>
                <div class="text-center">
                    <button class="btn btn-success btn-lg btn-block" type="submit">Create</button>
                </div>
                {{ form_end(form) }}
                <hr>

                {% if comments|length %}
                    {% for comment in comments %}
                        <div class="card" style="margin-bottom: 10px;">
                            <div class="card-body">
                                <h5 class="card-title">{{ comment.username }}</h5><hr>
                                <p class="card-text">{{ comment.text|raw }}</p>
                            </div>
                            <div class="card-footer text-muted">
                                <small>{{ comment.publishedAt|date }}</small>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                {% endif %}
                <div class="text-right">
                    <a class="btn btn-info btn-sm" role="button" href="{{ path('projects') }}">
                        Back to projects
                    </a>
                </div>
                <hr>
            </div>
        </div>
    </main>
{% endblock %}
